body{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-image: url('fund.jpeg');
    background-size: cover;
}
#main{
   text-align: center;
   width: 700px;
   border-radius: 50px;
   border-style: solid;
}
#imagem{
    width: 300px;
    height: 300px;
}
.status{
   justify-content: center;
}
.all{
    display: flex;
    justify-content: center;
}
.input{
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
}
.texto{
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    color: black;
    font-size: 30px;
}
.icon{
    width: 30px;
    height: 35px;
    padding-top: 30px;
    padding-right: 5px;
}
#nome{
    font-size: 50px;
    -webkit-text-stroke: 0.5px white;
}